@charset "utf-8";
/* CSS Document */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}

.nav-color {
  height: 86px;
  background-color: #fff;
}

.navbar-nav {
  align-items: center;
}

.navbar-brand {
  font-family: montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #363636 !important;
}

.nav-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #363636 !important;
}

.zoom:hover {
  transform: scale(1.08);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

#nav-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #363636;
  border-radius: 20px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 8px;
}

#nav-icon1 span:nth-child(3) {
  top: 16px;
}

#nav-icon1.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.Hero {
  position: relative;
  margin-bottom: -6px;
}

.hero_bg {
  margin-top: 57px;
}

.Hello {
  padding-left: 64px;
  position: absolute;
  top: 40%;
  left: 0%;
}

.Hello h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  align-items: center;
  color: #363636;
  opacity: 85%;
  margin-bottom: -10px;
}

.Hello h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: #363636;
  margin-bottom: 8px;
}

.Hello P {
  width: 500px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #363636;
  opacity: 70%;
  text-align: justify;
}

.down_button {
  background-color: transparent;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.down_button img:hover{
  opacity: 1 !important;
}

.down_button img {
  margin: auto;
  width: 60px;
  height: 60px;
  animation: float 4s infinite;
  opacity: 0.9;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.resume {
  height: auto;
  border-radius: 60px;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #363636;
}

.resume {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  color: #fff;
  margin-bottom: 0px;
}

#navbar-list {
  transition: all 0.2s ease-in-out;
}

.vl {
  background: #fff;
  width: 4px;
  height: 319px;
  border-radius: 5px;
}

.About_me h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  align-items: center;
  color: #ffffff;
  padding-left: 30px;
}

.About_me h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  align-items: center;
  color: #ffffff;
  padding-left: 30px;
}

.About_me img {
  width: 24px;
  height: 24px;
  margin-left: 30px;
}

.social_link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #fff;
}

.social_link:hover {
  text-decoration: none;
  color: #fff;
  opacity: 70%;
}

.hl {
  background: #fff;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  margin-left: 15px;
  opacity: 30%;
}

.resume_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  color: #ffffff;
  margin: 0;
}

.date {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
  color: #ffffff;
  margin-left: 110px;
}

.lg_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: right;
  color: #ffffff;
}

.sm_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
  color: #ffffff;
  text-align: right;
  opacity: 60%;
}

.skills_type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  text-align: left;
}

.skills{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  color: #ffffff;
  text-align: left;
  opacity: 60%;
}

.w3-border{
  background-color: transparent;
  border-radius: 20px;
  opacity: 70%;
}

.lang{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
  text-align: right;
  color: #ffffff;
}

.lang_2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
  text-align: left;
  color: #ffffff;
}

.twoD_text h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  align-items: center;
  text-align: center;
  color: #363636;
  margin-bottom: 8px;
}

.twoD_text p{
  width: 500px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #363636;
  opacity: 70%;
  text-align: center;
}

.twoD{
  position: relative;
}

.twoD_text{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.artworks{
  max-height: 100vh;
  max-width: 95vw;
}

.artworks img{
  border-radius: 60px;
}

.img-comp-slider{
  background-color: #fbf229 !important;
}
/* .footer{
  height: 500px;
  background-color: #363636;
} */